.contact {
  /* background-color: rgb(146, 13, 30); */
}

.input__form:nth-child(2),
.input__form:nth-child(3) {
  /* margin-top: 30px; */
}
.input__form > label {
  display: flex;
  flex-direction: column;
}
.input__form label > span {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 10px;
}

.input__form label > input,
.input__form label > textarea {
  padding: 5px 15px;

  background-color: #10105370;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
}
input[type="text"],
input[type="email"] {
  height: 40px;
  border: none;
}
textarea {
  height: 250px;
}
*::placeholder {
  color: rgba(255, 255, 255, 0.603);
}
.contact__btn {
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  color: white;
  outline: none;
  border: none;
  background-color: #10105370;
}
