* {
  margin: 0;
  padding: 0;
}

.header__nav {
  /* background-color: #fff; */
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: white;
  z-index: 1000;
}
img.my__logo {
  width: 8vw;
  object-fit: contain;
}

.menu__bar,
.second {
  width: 30px;
  height: 1px;
  background-color: #fff;
}
.one {
  transition: all 0.04s ease-in-out;
}
.second {
  margin: 10px 0px;
  width: 20px;
  transition: all 0.5s ease-in-out;
}
.third {
  transition: all 0.04s ease-in-out;
}
.menubar__transform {
  transform: rotate(45deg);
}
.menubar__thirdtransform {
  transform: rotate(-45deg);
}
.menubar__secondtransform {
  display: none;
}

@media screen and (max-width: 740px) {
  img.my__logo {
    width: 10vw;
    object-fit: contain;
  }
}

@media screen and (max-width: 559px) {
  img.my__logo {
    width: 68px;
    object-fit: contain;
  }
}
@media screen and (max-width: 470px) {
  img.my__logo {
    width: 50px;
    object-fit: contain;
  }
}
