*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  background-color: #050527;
  padding: 4% 6%;
  font-size: 14px;
}
body::-webkit-scrollbar {
  display: none;
}
.App {
  /* height: 100vh;
  padding: 50px 50px;
  /* display: grid; */
  justify-content: center;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 10px; */
}
.isError {
  display: none;
}
.mobile__container {
  display: none;
}

.pages__container {
  width: 38vw;
  overflow-y: scroll;
  margin-bottom: 2%;
  /* padding: 30px 20px; */
}
.pages__container::-webkit-scrollbar {
  display: none;
}
.dynamic__container {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 990px) {
  .main__container {
    display: none;
  }
  .mobile__container {
    display: grid;
  }
  .pages__container__mobile {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
  }
}
